.main-nav {
	position: absolute;
    z-index: 9999999999;
    top: 0;
    left: 1340px;
    background-color: #fff;
    height: 850px;
    width: 120px;
    margin: 0;
    border-right: 1px black;

    &__list {
    	margin-bottom: 55px;
    }
}

.background-green-square {
	position: absolute; width: 800px; 
    z-index: -9999999;
    background:#84bd00;
    position: absolute;
    height: 540px;
    top: 0;
    left: 0;
 }

.background-image {
    position: absolute;
    z-index: -9999;
    top: 0px;
    left: 450px;
    margin: 0;
}

 #line {
  	position: absolute;
    top: 50px;
    left: -100px;
    width: 500px;
    margin: 0;
    -webkit-transform: rotateZ(53.1deg);
    border-width: 1px;      border-style: solid;                          
    border-image: linear-gradient(to right, #ffffff 0%,#ffffff 49%,#000000 50%,#000000 100%) 1;
}


#p1 {
	border-radius: 5px;
    width: 10px;
    background: #000;
    position: absolute;
    height: 10px;
    top: 45px;
    left: 145px;
}

#p2 {
	 border-radius: 5px;
    width: 10px;
    background: #000;
    position: absolute;
    height: 10px;
    top: 245px;
    left: 295px;
}





     body {
    font-family: "Lato", sans-serif;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 1200px;
    background-color: grey;
 
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: black;
    border-right: 1px solid;
    display: block;
    transition: 0.3s
}

.sidenav a:hover, .offcanvas a:focus{
    color: #f1f1f1;
}

.closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px !important;
    margin-left: 50px;
}

#main {
    transition: margin-left .5s;
    padding: 16px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}